.git
.gitignore
.vscode/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

DoAn_TimMach/venv/
DoAn_TimMach/__pycache__/
DoAn_TimMach/Fontend/node_modules/
DoAn_TimMach/Fontend/build/
DoAn_TimMach/Fontend/.vite/
DoAn_TimMach/Fontend/.cache/
DoAn_TimMach/Fontend/.env
DoAn_TimMach/database/app.db
DoAn_TimMach/notebooks/